<html ng-app>
	<head>
		<title>List</title>
	</head>

	<script src="angular.min.js"></script>
	<script src="jquery.min.js"></script>
	<script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
	<!-- 
	<script src="json.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
	 -->

	<link href='http://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Niconne&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href="css/font-awesome.min.css" rel="stylesheet">

    <link href="onsen-css-components.min.css" rel="stylesheet">

	<script>
		var FB_URL = "https://atbtasks.firebaseio.com/";
		//var FB_URL = "https://atbtasks.firebaseio.com/";
		var persistRef = new Firebase(FB_URL);
	</script>

	<script>
		function Task(title) {
			this.id = storageLocal_nextTaskId();
			this.title = title;
			this.done = false;

			this.flipDone = function () {
				this.done = !this.done;
			}
			this.load = function (jsonObj) {
				this.id = jsonObj.id;
				this.title = jsonObj.title;
				this.done = jsonObj.done;
			}
		}
	</script>

	<script>

		/**
		 * Store public functions
		 */
		function storage_loadTasks(callback) {
			var localTasks = storageLocal_getAllTasks();
			var tasks = [];
			for (key in localTasks) {
				var aTask = new Task('');
				aTask.load(localTasks[key]);
				tasks.push(aTask);
			}
			callback(tasks);

			storageRemote_loadAll(function (tasks) {
				if (tasks) {
					callback(tasks);
					angular.element($('body')).scope().$apply();
				}
			});
			return [];
		}
		function storage_loadTask(taskId) {
			var allTasks = storageLocal_getAllTasks();
			return allTasks[taskId];
		}
		function storage_createTask(aTask) {
			var aPersist = new PersistItem('C', aTask);
			remoteQueue_push(aPersist);

			var allTasks = storageLocal_getAllTasks();
			allTasks.push(aTask);
			storageLocal_saveAllTasks(allTasks);

			storageRemote_attemptStore();
		}
		function storage_updateTask(aTask) {
			var aPersist = new PersistItem('U', aTask);
			remoteQueue_push(aPersist);

			var allTasks = storageLocal_getAllTasks();
			for (pos = 0; pos < allTasks.length; pos++) {
				if (allTasks[pos].id == aTask.id) {
					allTasks[pos] = aTask;
				}
			}
			storageLocal_saveAllTasks(allTasks);

			storageRemote_attemptStore();
		}
		function storage_deleteTask(aTask) {
			var aPersist = new PersistItem('D', aTask);
			remoteQueue_push(aPersist);

			var allTasks = storageLocal_getAllTasks();
			for (pos = 0; pos < allTasks.length; pos++) {
				if (allTasks[pos].id == aTask.id) {
					allTasks.splice(pos, 1);
				}
			}
			storageLocal_saveAllTasks(allTasks);

			storageRemote_attemptStore();
		}

		function remoteQueue_push(aPersistItem) {
			var persistQueue = [];
			if (window.localStorage.getItem('persistQueue')) {
				persistQueue = JSON.parse(window.localStorage.getItem('persistQueue'));
			}
			persistQueue.push(aPersistItem);
			window.localStorage.setItem('persistQueue', JSON.stringify(persistQueue));
		}
		function remoteQueue_top() {
			if (window.localStorage.getItem('persistQueue')) {
				persistQueue = JSON.parse(window.localStorage.getItem('persistQueue'));
				if (persistQueue && persistQueue.length > 0) {
					var out = new PersistItem('', {});
					out.load(persistQueue[0]);
					return out;
				}
			}
			return null;
		}
		function remoteQueue_pop() {
			if (window.localStorage.getItem('persistQueue')) {
				persistQueue = JSON.parse(window.localStorage.getItem('persistQueue'));
				if (persistQueue && persistQueue.length > 0) {
					var firstItem = persistQueue[0];
					persistQueue.splice(0, 1);
					window.localStorage.setItem('persistQueue', JSON.stringify(persistQueue));

					var out = new PersistItem('', {});
					out.load(firstItem);
					return out;
				}
			}
			return null;
		}

		/**
		 * Local storage
		 */
		function storageLocal_nextTaskId() {
			var nextIdStr = window.localStorage.getItem('nextTaskId');
			var salt = 's' + Math.floor(Math.random()*1000) + '-' + new Date().getTime();
			if (nextIdStr) {
				var nextId = parseInt(nextIdStr);
				nextId++;
				window.localStorage.setItem('nextTaskId', nextId);
				persistRef.child('nextTaskId').set(nextId);
				return salt + nextId;
			} else {
				var nextId = 1;
				window.localStorage.setItem('nextTaskId', nextId);
				persistRef.child('nextTaskId').set(nextId);
				return salt + nextId;
			}
		}
		function storageLocal_saveAllTasks(tasks) {
			window.localStorage.setItem('tasks', JSON.stringify(tasks));
		}
		function storageLocal_getAllTasks() {
			var tasksStr = window.localStorage.getItem('tasks');
			var tasks = {};
			if (tasksStr) {
				var tasks = JSON.parse(tasksStr);
			}
			return tasks;
		}

		/**
		 * Remote storage
		 */
		function storageRemote_attemptStore() {
			// persist next id
			var nextIdStr = window.localStorage.getItem('nextTaskId');
			var nextId = parseInt(nextIdStr);
			persistRef.child('nextTaskId').set(nextId);
			
			// persist data
			storageRemote_attemptStoreQueue();
		}

		function storageRemote_attemptStoreQueue() {
			var persistItem = remoteQueue_top();
			if (persistItem) {

				if (persistItem.type == 'D') {
					persistRef.child('tasks/' + persistItem.task.id).set(null, function (error) {
						if (error) {
							setTimeout(storageRemote_attemptStoreQueue, 10*60*1000);
						} else {
							remoteQueue_pop();
							setTimeout(storageRemote_attemptStoreQueue, 1);
						}
					});
				} else {
					persistRef.child('tasks/' + persistItem.task.id).once("value", function (data) {
						var lastUpdateTime = 0;
						if (data.val()) {
							lastUpdateTime = parseInt(data.val().updated);
						}
						if (lastUpdateTime < persistItem.date) {
							persistRef.child('tasks/' + persistItem.task.id).set(persistItem.data(), function (error) {
								if (error) {
									setTimeout(storageRemote_attemptStoreQueue, 10*60*1000);
								} else {
									remoteQueue_pop();
									setTimeout(storageRemote_attemptStoreQueue, 1);
								}
							});
						} else {
							remoteQueue_pop();
						}
					});
				}
			}
		}
		function storageRemote_loadAll(callback) {
			// load next id
			persistRef.child('nextTaskId').once("value", function (data) {
				if (data.val()) {
					window.localStorage.setItem('nextTaskId', data.val());
				}
			});

			// load tasks
			persistRef.child('tasks').once("value", function (data) {
				if (data.val()) {
					var tasksObj = data.val();
					var tasks = [];
					for (key in tasksObj) {
						var aTask = new Task('');
						aTask.load(tasksObj[key]);
						tasks.push(aTask);
					}
					storageLocal_saveAllTasks(tasks);
					callback(tasks);

					storageRemote_attemptStoreQueue();
				}
			});
		}

		function PersistItem(persistType, aTask) {
			/**
			 * Types: C - create, U - update, D - delete.
			 */
			this.type = persistType;
			this.task = aTask;
			this.date = new Date().getTime();

			this.data = function () {
				return {
					updated: this.date,
					id: this.task.id,
					title: this.task.title,
					done: this.task.done
				}
			}
			this.load = function (plainItem) {
				this.type = plainItem.type;
				this.task = new Task('');
				this.task.load(plainItem.task);
				this.date = plainItem.date;
			}
		}

		/**
		 *	Debug / logging
		 */
		var localStr = '';
		var remoteStr = '';
		function flushDB() {
			var localStr = 
					window.localStorage.getItem('tasks') + '<br/><br/>'
					+ window.localStorage.getItem('persistQueue');
			//+ '<br/><br/>' + JSON.stringify(angular.element('body').scope().$$childHead.tasks));
				jQuery('LoggingWindow').html(localStr + '<br/><br/>Remote:' + remoteStr);
			persistRef.child('tasks').once("value", function (data) {
				if (data.val()) {
					remoteStr = JSON.stringify(data.val());
				}
				jQuery('LoggingWindow').html(localStr + '<br/><br/>Remote:' + remoteStr);
			});
			setTimeout(flushDB, 2000);
		}
		jQuery(function () {
			flushDB();
		});
	</script>

	<script>
		function TasksCtrl($scope) {
			$scope.tasks = [];
			storage_loadTasks(function (tasksParam) {
				$scope.tasks = tasksParam;
			});
			$scope.isAdding = false;
			$scope.itemTitle = "";
			$scope.editingIndex = -1;

			$scope.done = function (index) {
				var aTask = $scope.tasks[index];
				aTask.flipDone();
				storage_updateTask(aTask);
			}
			$scope.remove = function (index) {
				var aTask = $scope.tasks[index];
				$scope.tasks.splice(index, 1);
				storage_deleteTask(aTask);
			}
			$scope.edit = function (index) {
				var aTask = $scope.tasks[index];
				aTask.editingTitle = aTask.title;
				$scope.editingIndex = index;
				$scope.isAdding = false;
			}
			$scope.finishEditOK = function () {
				var aTask = $scope.tasks[$scope.editingIndex];
				aTask.title = aTask.editingTitle;
				$scope.editingIndex = -1;
				storage_updateTask(aTask);
			}
			$scope.finishEditCancel = function () {
				$scope.editingIndex = -1;
			}

			$scope.showAdd = function () {
				$scope.editingIndex = -1;
				$scope.isAdding = true;
				$scope.itemTitle = '';
				$('#txtItemTitle').trigger('click');
			}
			$scope.addItem = function() {
				if ($scope.itemTitle && $scope.itemTitle.trim() != '') {
					var newTask = new Task($scope.itemTitle);
					$scope.tasks.push(newTask);
					storage_createTask(newTask);
				}
				$scope.itemTitle = '';
			}
			$scope.addItemByKey = function(e) {
				if (e.keyCode == 13) {
					this.addItem();
				} else if (e.keyCode == 27) {
					$scope.isAdding = false;
				}
			}
			$scope.cancelAdd = function () {
				$scope.isAdding = false;
			}

		}
	</script>

	<style>
		body {
			/*font-family: 'Acme', sans-serif;*/
			font-size: 26px;
			line-height: 26px;
			color: #292929;
		}
		input {
			font-size: 25px;
			width: 100%;
			color: #242424;
			border: 1px solid #ddd;
			margin-top: -5px;
			padding-left: 10px;
			padding-rigth: 10px;
			margin-left: -10px;
		}

		h1 {
			font-family: 'Niconne', cursive;
			font-size: 2.1em;
			line-height: 2.1em;
			margin-top: 0px;
			margin-bottom: 0px;
			margin-left: 1em;
		}
		header {
			width: 100%;
			background: red;
			color: white;
		}

		.done {
			text-decoration: line-through;
		}
		.hidden {
			display: none;
		}
		i {
			cursor: pointer;
		}

		.list-item {
			width: 100%;
			height: 2.6em;
			border-bottom: 1px solid #eee;
			font-size: 1em;
			line-height: 1em;
			position: relative;
		}
		.list-item-inner {
			padding-top: 0.8em;
			padding-left: 1.6em;
			padding-right: 4.6em;
			padding-bottom: 0px;
			margin: 0;
		}
		.list-item-inner div {
			padding-top: 0.8em;
			padding-left: 0px;
			padding-right: 0px;
			padding-bottom: 0px;
			margin: 0;
		}
		.list-actions-item {
			width: 4em;
			top: 0px;
			right: 0px;
			position: absolute;
		}
		.bottom-item {
			width: 100%;
			height: 2.6em;
			border-bottom: 1px solid #eee;
			text-align: center;
			position: relative;
		}
		.bottom-item-inner, .bottom-item-inner2 {
			padding-top: 0.8em;
			padding-bottom: 0px;
			padding-left: 4.1em;
			padding-right: 4.1em;
			margin: 0;
		}
		.bottom-item-inner2 {
			padding-left: 1.6em;
		}
		.bottom-actions-item {
			width: 4em;
			top: 0px;
			right: 0px;
			padding-top: 0.8em;
			padding-left: 0px;
			padding-right: 0px;
			padding-bottom: 0px;
			margin: 0;
			position: absolute;
		}
	</style>

	<body ng-controller="TasksCtrl">
		<header>
			<h1>taskly</h1>
		</header>
		<div ng-repeat="task in tasks" class="list-item" ng-click="done($index)" >
			<div class="list-item-inner">
				<span ng-class="{hidden: editingIndex == $index, done: task.done}">{{task.title}}</span>
				<span ng-class="{hidden: editingIndex != $index}">
					<input ng-model="task.editingTitle" ng-click="$event.stopPropagation();" />
				</span>
				<div ng-class="{hidden: editingIndex != $index, 'list-actions-item': true}">
					<i class="fa fa-sign-in fa-lg" ng-click="finishEditOK(); $event.stopPropagation();"></i>
					<i class="fa fa-times fa-lg" ng-click="finishEditCancel(); $event.stopPropagation();"></i>
				</div>
				<div ng-class="{hidden: editingIndex == $index, 'list-actions-item': true}">
					<i class="fa fa-pencil fa-fw" ng-click="edit($index); $event.stopPropagation();"></i>
					<i class="fa fa-trash-o fa-lg" ng-click="remove($index)"></i>
				</div>
			</div>
		</div>
		<div ng-hide="isAdding && editingIndex == -1" class="bottom-item" >
			<div class="bottom-item-inner" ng-click="showAdd()">
				<i class="fa fa-plus-circle fa-lg" ></i>
			</div>
		</div>
		<div ng-hide="!isAdding || editingIndex != -1" class="bottom-item" >
			<div class="bottom-item-inner2">
				<input ng-model="itemTitle" ng-keydown="addItemByKey($event)" id="txtItemTitle"/>
				<div class="bottom-actions-item">
					<i class="fa fa-sign-in fa-lg" ng-click="addItem()"></i>
					<i class="fa fa-times fa-lg" ng-click="cancelAdd()"></i>
				</div>
			</div>
		</div>

		<LoggingWindow style="display: none;">
		</LoggingWindow>
	</body>
</html>
